.home-container {
    background-image: url('../../Images/image\ 1.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
}
.home-container input[type="search"] {
    background: none;
    border: 1px solid lightgray;
    border-radius: 5px 0px 0px 5px;
    height: 35px;
    font-size: 12px;
    color: gray;
    padding: 0px 10px;
    width: 300px;
    margin-top: 30px;
}
.home-container input[type="submit"] {
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 0px 5px 5px 0px;
    height: 35px;
    font-size: 14px;
    padding: 0px 20px;
    margin-bottom: 60px;
    color: white;
}